<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" 
          content = "width=device-width, initial-scale=1">

    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

    {% include 'components/internal_stylesheets.html' %}

    {% include 'components/external_stylesheets.html' %}

  </head> 
  <body>
    {% block navigation %}
    {% import 'components/navigation.html' as navigation %}
    {{ navigation.render() }}
    {% endblock navigation %}

    {% block body %}
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
          {% block content %}
          {% endblock %}
          </div>
        </div>
      </div>
    </section>
    {% endblock body %}

    {% block footer %}
    {% include 'components/footer.html' %}
    {% endblock footer %}

    {% block scripts %}
    {% include 'components/scripts.html' %}
    {% endblock scripts %}
  </body>
</html>
